* {
  margin: 0;
  padding: 0;
}


body {
	  		font-size: 1em;
		  	color: rgba(26,26,26,.9);
		   	font-family: 'Open Sans', sans-serif;
		   	background-color: #f5f5f5;
		}
		  	.branding-bar{
			    width: 100%; 
			    height: 80px;
			    background-color: #22222270;
			    padding-right:4em;
			    text-align: right;
			    font-size: 1em;
			    color:#f7f7f7;
			    line-height: 80px;
			    position:fixed;
			    z-index: 999;
			    
			}

				.button-link{
					padding-left: 2em;
					padding-right: 2em;
					padding-top:1em;
					padding-bottom:1em;
					border-radius: 50px;
				    /* this is irrelevant, and just so the element can be visualised/displayed: */
				    margin: 2em auto;
				    border: 1.5px solid #fff;
    				color: #fff;
    				font-size: .75em;
    				text-decoration: none;
    				margin-right: 5%;
    				letter-spacing: 0.065em;		
				}

				.button-link:hover {
					color: #002878;
					background-color:white;
				}


				.bar-link{
					color: #fff;
					text-decoration: none;
					font-size: .75em;
					text-transform: uppercase;
					margin-right: 2em;
					letter-spacing: 0.065em;
				}

				.bar-link:hover{
					color:#f5f5f5;
					font-style: bold;
				}
				
.image-descript {
    position: relative;
}

.main-image {
		width: 100%;
		display: block; /*This gets rid of the weird little space from inline-block*/
	}

	.image-text{
		position: absolute;
		top:30%;
		left:0;
		right:0;
		bottom:0;
	}

.lil-image-text { 
		color: #ededea;
		margin-top: 20px;
    	margin-right: auto;
    	margin-bottom: 20px;
    	margin-left: auto;
		padding-top: 2em;
		text-align: center; 
		display:block;
		font-family: 'Lora', serif;
    	font-size: 18px;
    	font-weight: 400;
    	line-height: 1.5em;
    	letter-spacing: 1px;
    	font-style: italic;
    	color: #fff;
	}


.big-image-text { 
		letter-spacing: 0.065em;
		line-height: 1em;
		font-size: 68px;
		text-transform: uppercase;
		text-align: center; 
		display:block;
		color: #fff;
	}


.color-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.1);
}
