/* Whole document: */

.navbar-default {
    background-color: #22222270;
    border: none;
}

body {
	font-size: 18px;
}

  .main-container {
	max-width: 1326px !important;
  }

.alert-info {
  background-color: #a0d1ef !important;
}

 .container-fluid {                  /* margin: 0 Left-aligns container; margin: auto to "center" (Default)*/
    margin-right: auto !important; 
    margin-left: auto !important;
} 


.row-fluid{
  display: flex;
  position: relative;
}

.col-xs-12 .col-sm-4 .col-md-3{
  width: 25%;
  position: relative;
}


div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
}

.tocify {
  border: none;
  position: -webkit-sticky;
  position: sticky; 
  top: 60px; 
  width: 100%;
}

#TOC {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.toc-content {
  width: 75%
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: gray;
}

.list-group-item:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active{
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:focus {
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}


.foot img {
   width: 50px;
}


/* LARGE IMAGE AT TOP OF EACH MODULE PAGE*/
.image-descript {
    position: relative;
}

/*.main-image is for landing page*/
.main-image {
    width: 100%;
    display: block; /*This gets rid of the weird little space from inline-block*/
  }

/*.big_image is for module pages*/
.big_image {
  margin-top: -60px;
  width: 100%;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }
.lil-image-text { 
    color: #ededea;
    margin-top: 20px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    padding-top: 2em;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: bold;
      color: #fff;
  }

.big-image-text { 
    letter-spacing: 0.065em;
    line-height: 1em;
    font-size: 68px;
    text-transform: uppercase;
    text-align: center; 
    display:block;
    color: #fff;
  }

.color-overlay{
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,.1);
  }
