/* Whole document: */

body {
	font-size: 18px;
}

.main-container {
	max-width: 1300px !important;
}


div.tocify {
    max-width: 260px;
    max-height: 85%;
    font-size: 12px;
}

.tocify {
  border: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: gray;
}

.list-group-item:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active{
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:focus {
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}