/* Whole document: */

.navbar-default {
    background-color: #22222270;
    border: none;
}

body {
	font-size: 19px;
}

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
}

h1.title.toc-ignore {
  display: none;
}



p {
  margin: 0 0 1em 0 !important;
}

ul {
  margin-bottom: 1em;
}

  .main-container {
	max-width: 1326px !important;
  }

.alert-info {
  padding: 1.5em;
  background-color: #a0d1ef !important;
}

 .container-fluid {                  /* margin: 0 Left-aligns container; margin: auto to "center" (Default)*/
    margin-right: auto !important; 
    margin-left: auto !important;
} 


.row-fluid{
  display: flex;
  position: relative;
}

.col-xs-12 .col-sm-4 .col-md-3{
  width: 25%;
  position: relative;
}

/*TOCIFY code*/


div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
}

.tocify {
  border: none;
  position: -webkit-sticky;
  position: sticky; 
  top: 60px; 
  width: 100%;
}

#TOC {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.toc-content {
  width: 75%
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: gray;
}

.list-group-item:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active{
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:focus {
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:hover {
  z-index: 2;
  color: DarkSlateGray;
  background-color: white;
  border: none;
}


.foot_image {
  width: 50px;
  filter: grayscale(0%);
  margin-left: 1em;
  margin-right: 1em;
}

.foot {
  font-size: .75em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
}

.foot hr{
  width: 80%;
}


.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}


/* DATA CAMP WINDOWS */

.powered-by-datacamp {
  display: none !important;
}

.datacamp-exercise {
  margin: 0 0 1em 0 !important;
}


/* LARGE IMAGE AT TOP OF EACH MODULE PAGE*/
.image-descript {
    position: relative;
}

/*.main-image is for landing page*/
.main-image {
  width: 100%;
  display: block; /*This gets rid of the weird little space from inline-block*/
  margin-top: -50px;
  margin-bottom: 10px;
}

.button {
  border: 2px solid white;
  background-color: #0000001a;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
  width: 150px;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  color: DarkSlateGray;
  text-decoration: none !important;
}

a.button-landing-page {
    color: white !important;
    border: none;
    text-decoration: none !important;
}


a.button-landing-page:focus{
    z-index: 2;
    color: DarkSlateGray;
    border: none;
    text-decoration: none !important;
}

a.button-landing-page:hover{
    z-index: 2;
    color: DarkSlateGray;
    border: none;
    text-decoration: none !important;
}

body, html {
  height: 100%;
}



/*.big_image is for module pages*/

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }
.lil-image-text { 
    color: white;
    margin-top: 0px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    padding-top: 0px;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
  }


/*@media screen and (max-width: 300px) {
 .image-descript {
  display: none;
 }*/

.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #fff;
  margin-bottom: 3rem;
}


@media only screen and (max-width: 768px) {
  .lil-image-text {
    font-size: 15px;
  }

  .big-image-text {
    line-height: normal;
    font-size: 31px;
  }

  .col-xs-12 .col-sm-4 .col-md-3 {
    display: none !important;
  }
}


.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
}

/* Landing Page*/

.back-panel {
  max-width: 1500px;
  background: white;
  margin: 0 auto;
  margin-top: 3em;
  padding: 0 0em;
}

.back-panel-contents {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.back-panel-contents_row-reverse {
  flex-direction: row-reverse;
}

.color-textbox {
  width:70%;
  background: #4accc2;
  color: white;
  text-align: center;
  font-weight: normal;
  margin-bottom: 3em;
}

.color-textbox-blue {
  background: #5eade3;
}


.color-textbox-orchid {
  background: orchid;
}

.color-textbox-title {
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
  padding: 8rem 3rem 0rem 3rem;
}

.color-textbox-text {
  font-size: 3rem;
  padding: 3rem 8rem 0rem 8rem;
  font-weight: normal;
  text-transform: normal;
}

.landing-subimage {
  width:30%;
  margin-bottom: 3em;
}


.images-landing {
  margin-bottom: 0em !important;
}



/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 479px) {
.lil-image-text {
    font-size: 1rem;
  }

  .big-image-text {
    line-height: normal;
    font-size: 1.5rem;
  }

  .back-panel {
    margin-top: 0;
  }
  .back-panel-contents {
    display: block;
  }

  .landing-subimage {
    width: 75%;
    margin: 0 auto;
  }

  .color-textbox {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .color-textbox-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 0rem;
  }

  .color-textbox-text{
    font-size: 1.5rem;
    padding: 0rem;
  }

}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 540px) {
  .color-textbox-title{
    font-size: 1.5rem;
    padding: 2.25rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.4rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 649px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 2.5rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.75rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


@media only screen and (min-width: 650px) and (max-width: 768px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 4rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 2rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1041px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 2rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


.image-text-about-the-authors {
  top:44%;
}

.about-the-author-color-textbox {
  width:33.3%;
  background: white;
  color: black;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1em;
}

.about-the-author-color-textbox-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  padding: 8rem 3rem 0rem 3rem;
}

.about-the-author-color-textbox-text {
  font-size: 2rem;
  padding: 3rem 8rem 0rem 8rem;
  font-weight: normal;
  text-transform: normal;
}

.about-the-author-subimage {
  width: 40%;
}


