@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap');

/*------------NARRATIVE-----------*/

.narrative-container {
  max-width: 650px;
  margin: 4em auto;
}

.narrative-cover {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 650px;
  background-color: white;
}

.narrative-illo-200 {
  max-width: 200px !important;
  display: inline-block !important;
  margin: 0.5em 1em 0.5em 0.5em;
}

.narrative-illo-small {
  max-width: 350px !important;
  display: inline-block !important;
  margin: 0.5em 1em 0.5em 0.5em;
}

.narrative-illo-big {
  display: block !important;
  max-width: 90% !important;
  margin: 0.5em auto;
}

.narrative-text {
  font-family: "Source Sans Pro";
  line-height: 1.75;
}

.dialogue {
  text-indent: 2em;
}

p.blockquote{
  background: #fcf8f0;
  border-left: 10px solid #f2e0c3;
  padding: 1.5em 10px;
  font-family: "Lora";
  font-style: italic;
  font-size: 0.85em;
  margin: 1em 2em 1em 2em !important;
}
.slide-content > .narrative-text > p:first-of-type:first-letter { /*drop cap for first p that is a direct child of .narrative-text, which is in turn a direct child of .slide-content*/
  color: #3fb5bd;
  float: left;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 7em;
  line-height: 65px;
  padding: 20px 8px 0px 3px;
  margin-bottom: 9px;
}

.narrative-text p {
  margin-bottom: 1.5em;
}

.slide-content {
  margin-bottom: 3em;
}

/*---------Slider in Narrative--------*/

.bx-wrapper {
  -moz-box-shadow: 0 0 0px #ccc !important; /*remove box shadow */
  -webkit-box-shadow: 0 0 0px #ccc !important; /*remove box shadow */
  box-shadow: 0 0 0px #ccc !important; /*remove box shadow */
  border: 5px solid #fff;
  background: #fff;
}

/*.bx-wrapper img {
  max-width: 100%;
  display: block;
}*/




/*----- DIRECTION CONTROLS (NEXT / PREV)----- */
.bx-wrapper .bx-prev {
  left: -70px !important;
}

.bx-wrapper .bx-next {
  right: -70px !important;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 100%; /*default 50% */
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}


.end-text{
  text-align: center;
  margin-top: 100px 0 50px 0;
  font-size: 3em;
  font-family: 'Lora';
  font-weight: normal;
  color: #3fb5bd;
}

.map-island{
  height: 300px;
  background-image: url("../images/02_bellCurve/giraffe_islands2.jpg");
  background-size: contain;
  background-repeat: no-repeat;

}


/*------------NAVBAR-------------*/
.navbar-default {
  background-color: #ffffff33;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.76);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffffed, #ffffffba, #ffffff33) !important;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
/*.navbar-default .navbar-nav>li>a:hover,*/
/*.navbar-default .navbar-nav>li>a:focus */{
    color: #989898;
    background-color: #ffffff33;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffffed, #ffffffba, #ffffff33) !important;
}

/* Hovering over navbar + dropdown */

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color: #989898;
    background-color: white;
}


/* hamburger menu on mobile */

.icon-bar {
  background-color: black !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff !important;
}



/* Whole document: */

body {
	font-size: 19px;
}

.title{
  display: none;
}

.main-container {
	max-width: 1326px !important;
  }


blockquote {
  margin: 0 0 0 0 !important;
  padding: 0.5px 21px;  /* I changed from default of 10.5px 21px*/
}

.blockquote-note {
  color: #777777;
  background-color: #f6f3f3;
  width: 90%;
  margin: 0 auto;
}

 .container-fluid {                  /* margin: 0 Left-aligns container; margin: auto to "center" (Default)*/
    margin-right: auto !important; 
    margin-left: auto !important;
} 

.row-fluid{
  display: flex;
  position: relative;
}

.col-xs-12 .col-sm-4 .col-md-3{
  width: 25%;
  position: relative;
}


/*---------FOOTER-----------*/
.foot_image {
  width: 50px;
  filter: grayscale(0%);
  margin-left: 1em;
  margin-right: 1em;
}

.foot {
  font-size: .75em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
}

.foot hr{
  width: 80%;
}


.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}




/* LARGE IMAGE AT TOP OF EACH MODULE PAGE*/
.image-descript {
    position: relative;
    animation: slide-in-from-bottom 1s forwards;

}

/*.main-image is for landing page*/
.main-image {
  width: 100%;
  display: block; /*This gets rid of the weird little space from inline-block*/
  /*margin-top: -50px;*/
  margin-bottom: 10px;
}

body, html {
  height: 100%;
}





/*@media screen and (max-width: 300px) {
 .image-descript {
  display: none;
 }*/


.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #fff;
}



/* --------------v2 Landing Page---------------*/

.landing-container {
  max-width: 700px;
}

  .giraffe-container {
    height: 500px;
    margin: 2em auto 2em auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    .singleGiraffe-clickme {
      height: 400px;
      width: 354px;
      left: 52%;
      margin-left: -177px; /*half the container's width*, along with left: 50%*/
      position: absolute;
      display: block;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      background-image: url("../images/Landing_page/singleGiraffe-clickme.jpg");
    }

    .singleGiraffe-clickme-hover {
      height: 400px;
      width: 354px;
      left: 52%;
      margin-left: -177px; /*half the container's width*, along with left: 50%*/
      position: absolute;
      display: block;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      background-image: url("../images/Landing_page/singleGiraffe-clickme-hover.jpg");
      opacity: 0;
    }
    
    .singleGiraffe-clickme-hover:hover {
      opacity: 1;
    }

    .singleGiraffe {
      height: 400px;
      width: 354px;
      left: 52%;
      margin-left: -177px; /*half the container's width*, along with left: 50%*/
      position: absolute;
      display: none;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;  
      background-image: url("../images/Landing_page/singleGiraffe.png");
    }

    .giraffeForest {
      position: absolute;
      height: 500px;
      width: 1200px;
      left: 50%;
      margin-left: -600px;
      display: none;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; 
    }

    .giraffeForest1 {
      z-index: -1;
      background-image: url('../images/Landing_page/giraffeForest1.png');
      animation: slide-in-from-bottom 1s forwards;
    }
    
    .giraffeForest2 {
      z-index: -2;
      display: none;
      background-image: url('../images/Landing_page/giraffeForest2.png');
      animation: slide-in-from-right 1.5s forwards;
    }
    
    .giraffeForest3 {
      z-index: -100;
      background-image: url('../images/Landing_page/giraffeForest3.png');
      animation: slide-in-from-right 2s forwards;
    }
    
    .giraffeForest5 {
      z-index: -10;
      display: none;
      background-image: url('../images/Landing_page/giraffeForest5.png');
      animation: slide-in-from-right 2s forwards;
    }
    
    .g1 {
      display: block;
      height: 500px;
      right: 80%;
      background-image: url('../images/Landing_page/g1_1200px.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      animation: slide-in-from-bottom 1s forwards;

    }
    
    @keyframes slide-in-from-bottom {
      0% { opacity: 0; transform: translateY(100px); }
      100% { opacity: 1; transform: translateY(0); }
    }
    
    
    @keyframes slide-in-from-right{
      0% { opacity: 0; transform: translateX(100px); }
      100% { opacity: 1; transform: translateX(0); }
    }
    
    @keyframes slide-in-from-left {
      0% { opacity: 0; transform: translateX(100px); }
      100% { opacity: 1; transform: translateX(0); }
    }

.image-descript {
  display: none;
  justify-content: center; /* flex horizontal center */
  align-items: center; /*flex vertical center*/
}

 .big-text {
    text-align: center;
    color: #ffffff;
    visibility: visible;
    font-size: 3em;
    text-shadow: 1px 1px 35px #0e0d0d38;
    letter-spacing: 0.065em;
  }

.small-text { 
    color: white;
    margin: 0px auto 20px auto;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
  text-shadow: 1px 1px 35px #0e0d0d38;

  }


/*------ LANDING WELCOME INFO----- */


.appears-after-click {
  display: none;
}

.opacity-after-click {
  opacity: 0;
}
  .welcome {
    display: flex;
    margin-top: 2em;
  }
  
  .welcome-boxes {
    margin: 3em 1em 5em 1em;
  }

  
  .welcome-title {
    color: DarkSlateGray;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
  }
  
    .landing-subimage {
      margin: 1rem auto;
  }

  .images-landing {
    display: block;
    margin: 1em auto;
    margin-bottom: 0 !important;
    height: 250px;
  }
  
  .welcome-text {
    color: DarkSlateGray;
    text-align: center;
  }

/*------ BUTTONS ------*/

.landing-buttons {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
}

a.button {
  border: 2px solid DarkSlateGray;
  background-color: #ffffff;
  text-align: center;
  color: DarkSlateGray;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
  width: 177px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
}

a.button:hover {
  background-color: DarkSlateGray;
  color: white;
  text-decoration: none !important;
}




/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 479px) {
.lil-image-text {
    font-size: 1rem;
  }

  .big-image-text {
    line-height: normal;
    font-size: 1.5rem;
  }

  .back-panel {
    margin-top: 0;
  }
  .back-panel-contents {
    display: block;
  }

  .landing-subimage {
    height: 200px;
    margin: 0 auto;
  }

  .color-textbox {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .color-textbox-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 0rem;
  }

  .color-textbox-text{
    font-size: 1.5rem;
    padding: 0rem;
  }

}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 540px) {
  .color-textbox-title{
    font-size: 1.5rem;
    padding: 2.25rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.4rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 649px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 2.5rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.75rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 4rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 2rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/*iPad portrait*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .color-textbox-title{
    font-size: 2.35rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 2.25rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/*iPad Pro portarit */

@media only screen and (min-width: 1024px) and (max-width: 1225px) {
  .color-textbox-title{
    font-size: 3rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 3rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}



@media only screen and (max-width: 768px) {
  .lil-image-text {
    font-size: 15px;
  }

  .big-image-text {
    line-height: normal;
    font-size: 31px;
  }

  .col-xs-12.col-sm-4.col-md-3 {
    display: none !important;
  }
}


/* New hero images */

.hero-container {
  height: 550px;
  background-color: #1b3a42;
  margin-bottom: 2em;
}

.hero-image {
  max-width: 1800px;
  margin-top: -50px !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 2em;
  background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ),
  url(../images/big_image/Log.jpg); /* liner gradient tints the image darker for readability*/
  height: 550px;
  background-size: cover;
  background-color: #1b3a42;
  background-position: center bottom;
  display: flex; /* Change to `display: none` for no hero image */
  justify-content: center;
  align-items: center;
}


.hero-image-text-little {
  position: relative;
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.hero-image-text-big {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}


@media only screen and (max-width: 770px) {
  .hero-image-text-big{
    font-size: 3rem;
    padding: 2rem 0rem 0rem 0rem;
  }

  .hero-image-text-little{
    font-size: 19px;
  }
  
  .hero-image {
    max-width: 770px;
    height: 300px;
  }
  
    .hero-container {
    height: 300px;
    background-color: #1b3a42;
    margin-bottom: 1em;
  }
  
  .toc-content.col-xs-12.col-sm-8.col-md-9{
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
  }
}


