@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap');

/*------------NAVBAR-------------*/
.navbar-default {
    background-color: #22222270;
    border: none;
}


/* Whole document: */

body {
	font-size: 20px;
}

.title{
  display: none;
}

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
}


p {
  margin: 1em 0 1em 0 !important;
}

ul {
  margin-bottom: 1em;
}

  .main-container {
	max-width: 1326px !important;
  }

.alert-info {
  padding: 1.5em;
  background-color: #a0d1ef !important;
}

.alert-note {
  color: #777777;
  background-color: #f6f3f3;
  width: 90%;
  margin: 0 auto;
}


blockquote {
  margin: 0 0 0 0 !important;
  padding: 0.5px 21px;  /* I changed from default of 10.5px 21px*/
}

.blockquote-note {
  color: #777777;
  background-color: #f6f3f3;
  width: 90%;
  margin: 0 auto;
}


 .container-fluid {                  /* margin: 0 Left-aligns container; margin: auto to "center" (Default)*/
    margin-right: auto !important; 
    margin-left: auto !important;
} 


.row-fluid{
  display: flex;
  position: relative;
}

.col-xs-12 .col-sm-4 .col-md-3{
  width: 30%;
  position: relative;
}

/*-----------TABLE OF CONTENTS-------------*/

/* GIRAFFE LOGO */
#TOC::before {
  content: "";
  display: block; /*change from block to none for landing page */
  height: 150px;
  margin: 10px 10px 40px 10px;
  background-image: url("../images/toc-giraffe-logo.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
}

.tocify {
  border: none;
  position: -webkit-sticky;
  position: sticky; 
  top: 60px; 
  width: 100%;
}

#TOC {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.toc-content {
  width: 70%
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: gray;
}

.list-group-item:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active{
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:focus {
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:hover {
  z-index: 2;
  color: DarkSlateGray;
  background-color: white;
  border: none;
}

/*---------FOOTER-----------*/
.foot_image {
  width: 50px;
  filter: grayscale(0%);
  margin-left: 1em;
  margin-right: 1em;
}

.foot {
  font-size: .75em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
}

.foot hr{
  width: 80%;
}


.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}


/* DATA CAMP WINDOWS */

.powered-by-datacamp {
  display: none !important;
}

.datacamp-exercise {
  margin: 0 0 1em 0 !important;
}


/* LARGE IMAGE AT TOP OF EACH MODULE PAGE*/
.image-descript {
    position: relative;
}

/*.main-image is for landing page*/
.main-image {
  width: 100%;
  display: block; /*This gets rid of the weird little space from inline-block*/
  margin-top: -50px;
  margin-bottom: 10px;
}

.button {
  border: 2px solid white;
  background-color: #0000001a;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
  width: 150px;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  color: DarkSlateGray;
  text-decoration: none !important;
}

a.button-landing-page {
    color: white !important;
    border: none;
    text-decoration: none !important;
}


a.button-landing-page:focus{
    z-index: 2;
    color: DarkSlateGray;
    border: none;
    text-decoration: none !important;
}

a.button-landing-page:hover{
    z-index: 2;
    color: DarkSlateGray;
    border: none;
    text-decoration: none !important;
}

body, html {
  height: 100%;
}



/*.big_image is for module pages*/

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }
  
.lil-image-text { 
    color: white;
    margin-top: 0px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    padding-top: 0px;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
  }


/*@media screen and (max-width: 300px) {
 .image-descript {
  display: none;
 }*/


.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #fff;
  margin-bottom: 3rem;
}


.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
}

/* Landing Page*/

.back-panel {
  max-width: 1500px;
  background: white;
  margin: 0 auto;
  margin-top: 3em;
  padding: 0 0em;
}

.back-panel-contents {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.back-panel-contents_row-reverse {
  flex-direction: row-reverse;
}

.color-textbox {
  width:70%;
  background: #4accc2;
  color: white;
  text-align: center;
  font-weight: normal;
  margin-bottom: 3em;
}

.color-textbox-blue {
  background: #5eade3;
}


.color-textbox-orchid {
  background: orchid;
}

.color-textbox-title {
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
  padding: 8rem 3rem 0rem 3rem;
}

.color-textbox-text {
  font-size: 3rem;
  padding: 3rem 8rem 0rem 8rem;
  font-weight: normal;
  text-transform: normal;
}

.landing-subimage {
  width:30%;
  margin-bottom: 3em;
}


.images-landing {
  margin-bottom: 0em !important;
}



/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 479px) {
.lil-image-text {
    font-size: 1rem;
  }

  .big-image-text {
    line-height: normal;
    font-size: 1.5rem;
  }

  .back-panel {
    margin-top: 0;
  }
  .back-panel-contents {
    display: block;
  }

  .landing-subimage {
    width: 75%;
    margin: 0 auto;
  }

  .color-textbox {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .color-textbox-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 0rem;
  }

  .color-textbox-text{
    font-size: 1.5rem;
    padding: 0rem;
  }

}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 540px) {
  .color-textbox-title{
    font-size: 1.5rem;
    padding: 2.25rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.4rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}

@media only screen and (min-width: 541px) and (max-width: 649px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 2.5rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 1.75rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
  .color-textbox-title{
    font-size: 2rem;
    padding: 4rem 0rem 0em 0rem;
  }

  .color-textbox-text{
    font-size: 2rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/*iPad portrait*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .color-textbox-title{
    font-size: 2.35rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 2.25rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/*iPad Pro portarit */

@media only screen and (min-width: 1024px) and (max-width: 1225px) {
  .color-textbox-title{
    font-size: 3rem;
    padding: 6rem 0rem 0rem 0rem;
  }

  .color-textbox-text{
    font-size: 3rem;
    padding: 1rem 5rem 0rem 5rem;
  }

  .toc-content {
    width: 100%;
  }
}


/* ABOUT THE AUTHORS CSS */

.image-text-about-the-authors {
  top:44%;
}

.about-the-author-color-textbox {
  width:33.3%;
  background: white;
  color: black;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1em;
}

.about-the-author-color-textbox-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  padding: 8rem 3rem 0rem 3rem;
}

.about-the-author-color-textbox-text {
  font-size: 2rem;
  padding: 3rem 8rem 0rem 8rem;
  font-weight: normal;
  text-transform: normal;
}

.about-the-author-subimage {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .lil-image-text {
    font-size: 15px;
  }

  .big-image-text {
    line-height: normal;
    font-size: 31px;
  }

  .col-xs-12.col-sm-4.col-md-3 {
    display: none !important;
  }
}


/* New hero images */

.hero-container {
  height: 550px;
  background-color: #1b3a42;
  margin-bottom: 2em;
}

.hero-image {
    max-width: 1800px;
    margin-top: -50px !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 2em;
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ),
    url(../images/big_image/Log.jpg); /* liner gradient tints the image darker for readability*/
    height: 550px;
    background-size: cover;
    background-color: #1b3a42;
    background-position: center bottom;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}


.hero-image-text-little {
  position: relative;
  font-family: 'Lora', serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
      text-align: center;
}

.hero-image-text-big {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}


@media only screen and (max-width: 770px) {
  .hero-image-text-big{
    font-size: 3rem;
    padding: 2rem 0rem 0rem 0rem;
  }

  .hero-image-text-little{
    font-size: 19px;
  }
  
  .hero-image {
    max-width: 770px;
    height: 300px;
  }
  
    .hero-container {
    height: 300px;
    background-color: #1b3a42;
    margin-bottom: 1em;
  }
  
.toc-content.col-xs-12.col-sm-8.col-md-9{
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
}
  

}

/*------------iframe-----------------*/

iframe.interactive {
    min-width: 100%;
    margin: 0 auto;
  }
  
/*----------- video for gif----------- */

video {
  width: 100%;
}

.small_vid {
  width:600px;
  display: block;
  margin: 0 auto;
}

/*----------DIV TIPS------------*/

div.note, div.tip, div.gotcha, div.design, div.hat, div.obj{
  border: 4px #c5ede2;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  
  /*uncomment for icon */
  
  /* padding-left: 100px; 
  background-size: 70px; 
  background-repeat: no-repeat;
  background-position: 15px center; */
  min-height: 120px;
  color: #638f9d;
  background-color: #ffffff;
}

div.obj {
  font-size: 16px;
  line-height: 1.5em;
  /*background-image: url("../images/arrow.png");*/
}

div.obj>p:first-child {
  padding-top: 0;
  margin-top: 0 !important;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

